body {
  background: #fff;
  background-image: url("loginpage.jpg");

}
header {
  border-style: ridge;
  background: #b35900;
  width: auto;
  max-width: 100%;
  height: auto;
  font-family: red-serif;
  font-size: 45px;
  color: #442727;


}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

 body{
    font-family: 'roboto', sans-serif;
    font-weight:300 !important;
    background: #fbfd8a;

 }
#message{
  font-size: 19px;
  color: #993300;
  width: auto;
  max-width: 50%;
  height: auto;
}



table th {
  border-style: solid;
   color:#000;
}
td {
  border: 2px solid #342b38;
   font-style: oblique;
   color:#00a;
}
table{
  border: 2px solid #d92027;
  background: #ff9900;
  color: #1a0f00;
  text-align: center;
  text-shadow: 1px 0px #000;
  background-image: url(frontbanner.jpg);
}


a:hover, a.more-link.bolded-link:hover {

  font-size: 18px;
  color:#fa1616;
}
.my-input{
  background: #d5ffc2;
  color: #0f8034;
  outline:none;
  float: right;
  width: auto;
  max-width: 100%;
  height: auto;
}
#onestepbanner{
  width: 100%;
  height: auto;
}
#admission-notice{
  display: inline-block;
  float: right;
  width: auto;
  max-width: 100%;
  height: auto;
  text-align: center;
  background: #ff9900;
  border-style: solid;
  color:#1a0f00;
}
footer{
  height: 80px;
  width: auto;
  max-width: 100%;
  background: #4a3f35;
}
#contact_us{
  width: auto;
  max-width: 100%;
  height: auto;
}
#contact_form
{
  border-style: solid;
 background: #b3ff66;
}
#address{
  border: 2px solid #000;
  text-align: center;
  padding: 0px;
  font-size: 20px;
  color: #4f3961;
  background: #ccafaf;
}

#sks{
  text-align: center;
  border-style: solid;
  width: auto;
  max-width: 100%;
  height: auto;
  background: #7a7a52;
}


#signup
{
  background: #996;
  width: auto;
  max-width: 100%;
  height: auto;
  font-size: 16px;
  color: #f00;
  font-family: sans-serif;

}
#login_box
{
position: relative;
margin: 5% auto;
width: auto;
max-width: 100%;
height: auto;
padding: 6px;
background: #184d47;
}
.left-box
{
 position: absolute;
 top: 70px;
 left:6px;
 width: auto;
 max-width: 100%;
 height: auto;
}
input[type="text"],
input[type="password"]
{
  display: block;
  box-sizing: border-box;
  margin-bottom: 1px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  outline: none;
  border-bottom: 2px solid #aaa;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}
input[type="submit"]
{

  margin-left: 42px;
  width: 120px;
  height: 32px;
  background: #f44336;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus
{
  background: #ff5722;
  transition: 0.2s ease;
}
.right-box
{
position: relative;
top: 70px;
right: 15px;
left: 280px;
box-sizing: border-box;
padding-right: 0;
width: auto;
max-width: 100%;
height: auto;

}
.or
{
  position: absolute;
  top: 230px;
  left: 240px;
  width: 40px;
  height: 40px;
  background: #efefef;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 40px;
  text-align: center;
}
 .signinwith
{
  width: auto;
  max-width: 100%;
  height: auto;
  color: #ff0;
  font-size: 17px;
  color: #000;

  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

button.Social
{
  margin-bottom: 30px;
  width: 200px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;

}
.facebook
{
   background: #32508e;
}
.twitter
{
    background: #55acee;
}
.googleplus
{
  background: #dd4b39;
}

.whoweare
{
  text-decoration: underline;
  color: #ff6374;
  background: #000000;
}
.about_us
{
  box-sizing: border-box;
  text-align: center;
  font-style: bold;
  top: 20px;
  right: 300px;
  display: block;
  background-color: #aae;
  color: #ffd;
  border: 23px;
}
#about_us
{
  background: #ffb3b3;
  font-weight: 600;
  color: #000;
  line-height: 36px;

}
#why_us
{
  text-align: center;
background: #0080ff;
  color: #ffffff;
  font-family: sans-serif;
 border-style: outset;
 border-color: #030;
}

}
#example{
  border-style: solid;
  margin-right: 280px;
  width: auto;
  max-width: 100%;
  height: auto;

}
#experiment th{
border-style: solid;
background: #f6cd61;
color: #45046a;
width: 380px;


}
#block{
  padding: 50px;
  margin-top: -30px;
}
button[type="submit"]
{
  background: #d32626;
  color: #d4f3ef;
}
button[type="submit"]:hover,
button[type="sbmit"]:focus
{
  background: #d32626;
  transition: 0.3s ease;
  cursor: pointer;
  border: none;
}
input[type="message"]
{
  height: 89px;
}
.mobile-no
{
margin-left: 35px;
}
#map{
  #map {
  height: 100%;
  margin: 0;
  padding: 0;

}
